* {
  box-sizing: border-box;
  }


.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(96, 157, 185);
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  a {
    float: left;
    border-right: 1px solid #bbb;
  }
 
 a:last-child {
     border-right:none;
}

  .topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #111;
  }

  .active {
    background-color:#acb849;
  }
  
.partone {
  background-color: orange;
  }

.parttwo {
  background-color: green;
}

.bergen {
  text-align: center;
  background-color: grey;
  border: left 100px;
}

.oslo {
  text-align: center;
  background-color:chocolate;
}

.trondheim {
  text-align: center;
  background-color: brown;
}

.kirkenes {
  text-align: center;
  background-color: rgb(104, 104, 170);
}

.socials {
  display: block;
  text-align:center;
  list-style-type:none;
}


.aboutbody {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.waitresses {
display: block;
margin-left:auto;
margin-right:auto;
width:50%;
}

.cup {
  display: block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  }

.threecups {
  display: block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  }
    

  .textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;

  }
